:root {
  --light-color: rgb(248, 248, 248);
  --transp-color: rgba(248, 248, 248, 0.849);
  --dark-color: rgb(17, 17, 17);
  --third-color: rgb(219, 183, 185);
  --card-font-size: 1.75rem;
  --info-size: 1.25rem;
}

@keyframes nvgtMove {
  0% {
    margin-left: -20rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@keyframes nvgtMoveOut {
  100% {
    margin-left: -20rem;
  }
  0% {
    margin-left: 0rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--light-color);
}

body {
  width: auto;
  height: auto;
}

/* header */

header {
  width: 100vw;
  height: 16vh;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  position: fixed;
  overflow-y: auto;
}

.nvgt {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

header h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  /* top: 1rem; */
  padding: 1rem;
  color: var(--dark-color);
  font-size: 2.2rem;
  z-index: 1rem;
  background-color: rgba(248, 248, 248, 0.877);
}

.open-menu {
  width: 10%;
  height: 4rem;
  border-radius: 1rem;
  border: transparent;
  background: none;
  margin-top: 5rem;
  margin-left: 2.5rem;
}

.open-menu__img {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.shop {
  width: 10%;
  height: 4rem;
  border: transparent;
  background: none;
  margin-top: 5rem;
  margin-right: 2.5rem;
}

.shop__img {
  width: 2.5rem;
  height: 2.5rem;
}

/* nvgt btn container */

.nvgt-btn__container {
  font-family: "Inknut Antiqua", serif;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: auto;
  width: 50%;
  height: 100rem;
  background-color: var(--light-color);
  border-top-right-radius: 2.5rem;
  left: -100%;
  transition: left 0.5s;
  pointer-events: none;
}

.nav-slide-fx {
  left: -100%;
}

.shadow-nvgt {
  background-color: rgba(17, 17, 17, 0.685);
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  position: fixed;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.close-menu {
  display: flex;
  justify-content: end;
  border: transparent;
  background: none;
  width: 87%;
  height: 2.5rem;
  margin: 3rem 0;
}

.close-menu__img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.nvgt-btn__container li,
a {
  list-style: none;
  text-decoration: none;
  font-size: 0.75rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--dark-color);
  transition: 0.5s;
}

.nvgt-btn__container a:hover {
  color: var(--third-color);
  margin-left: 2rem;
}

/* Open menu fx */

.menu-opened {
  opacity: 1;
  left: 0;
  pointer-events: all;
}

/* Nav transparency fx */

.nav_transparency {
  background-color: var(--transp-color);
}

/* main */

main {
  /* margin-top: 20rem; */
  width: 100%;
  height: auto;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inknut Antiqua", serif;
}

.home-tag {
  position: absolute;
}

.img-cont_container {
  width: 100vw;
  overflow: hidden;
}

.initial-img_container {
  width: 400vw;

  display: flex;
  /* margin-left: 300%; */
  overflow: hidden;

  animation: slide 15s infinite alternate ease;
}

.initial-img {
  width: 100vw;
  height: 60vh;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.off {
  width: 100vw;
  height: 8vh;
  background-color: rgba(219, 183, 185, 0.644);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30rem;
}

.off p {
  color: var(--dark-color);
  font-size: 1.1rem;
}

/* category cards */

.category__container {
  /* width: 100%; */
  /* height: 100%; */
  margin-left: -1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category__container p {
  margin-left: 2rem;
  margin-right: 2rem;
}

.category-card {
  margin: 2rem 0;
  width: 90vw;
  height: 30rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: var(--card-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.a-combo-container {
  margin-top: 5rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.bra {
  background-image: url(./img/corpinoI.PNG);
  background-size: 100vw 100vh;
  /* background-position: 3rem; */
  /* background-size: 50%; */
  background-blend-mode: soft-light;
  background-attachment: fixed;
}

.panties {
  background-image: url(./img/bombachaIV.PNG);
  background-size: 100vw 100vh;
  background-position: 0 10rem;
  /* background-size: 50%; */
  background-blend-mode: soft-light;
  background-attachment: fixed;
}

.combo {
  background-image: url(./img/combo.PNG);
  background-size: 100vw 100vh;
  background-position: 0 0rem;
  /* background-size: 50%; */
  background-blend-mode: soft-light;
  background-attachment: fixed;
}

.material {
  background-image: url(./img/black-cotton-material.PNG);
  background-size: 100vw 100vh;
  background-position: 0 0rem;
  /* background-size: 50%; */
  background-blend-mode: soft-light;
  background-attachment: fixed;
}

.category-img {
  width: 60%;
  height: 90%;
}

.pc-width h2 {
  margin: 3rem;
}

/* Telas's page */

.container-main__telas h1 {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: var(--info-size);
}

.material-card {
  border-radius: 2rem;
  margin: 2rem 0;
  width: 70vw;
  max-width: 40rem;
  height: 20rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: var(--card-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-blend-mode: screen;
}

.wine {
  background-image: url(./img/wine-material.PNG);
  background-size: 40rem 20rem;
}

.black-cotton {
  background-image: url(./img/black-cotton-material.PNG);
  background-size: 40rem 20rem;
}

.violet {
  background-image: url(./img/violet-material.PNG);
  background-size: 100%;
}

.red {
  background-image: url(./img/red-material.PNG);
  background-size: 100%;
}

.wheat {
  background-image: url(./img/wheat-material.PNG);
  background-size: 100%;
}
.petrol {
  background-image: url(./img/petrol-material.PNG);
  background-size: 37rem 30rem;
}
.white-cotton {
  background-image: url(./img/white-material.PNG);
  background-size: 40rem 20rem;
}

.black {
  background-image: url(./img/black-material.PNG);
  background-size: 110%;
}

.rose {
  background-image: url(./img/rose-material.PNG);
  background-size: 100%;
  margin-bottom: 20rem;
}

/* Conjunto's page */

.atenea,
.grecia {
  border-radius: 2rem;
  margin: 2rem 0;
  width: 20rem;
  height: 18rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: var(--card-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-blend-mode: screen;
}

.a-black {
  background-image: url(./img/conjunto-atenea-negro.PNG);
  background-size: 100%;
}

.a-white {
  background-image: url(./img/conjunto-atenea-blanco.PNG);
  background-size: 100%;
}

.a-wine {
  background-image: url(./img/como-atenea-morado.PNG);
  background-size: 100%;
}

.a-petrol {
  background-image: url(./img/combo-petrol-atenea.PNG);
  background-size: 100%;
}

.a-grey {
  background-image: url(./img/combo-atenea-grey.PNG);
  background-size: 100%;
  background-position: 0 -2rem;
}

.a-red {
  background-image: url(./img/combo-red-atenea.PNG);
  background-size: 100%;
  background-position: 0 -2rem;
  margin-bottom: 20rem;
}

.g-dark-red {
  background-image: url(./img/combo-camil-bordo.PNG);
  background-size: 100%;
  margin-bottom: 20rem;
}

.mel {
  background-image: url(./img/combo-mel.PNG);
  background-size: 100%;
}

.melII {
  background-image: url(./img/combo-melII.PNG);
  background-size: 100%;
  margin-bottom: 20rem;
}

.melIII {
  background-image: url(./img/combo-melIII.PNG);
  background-size: 100%;
}

/* Bombacha's page */

.a-multi-pantie {
  background-image: url(./img/tanga-atenea-multi.PNG);
  background-size: 110%;
}

.a-multi-pantieii {
  background-image: url(./img/pantie-multiII.PNG);
  background-size: 23rem 18rem;
  background-position: -2rem;
}

.a-black-pantie {
  background-image: url(./img/bombachaIV.PNG);
  background-size: 100%;
  margin-bottom: 15rem;
}

.g-dark-red-pantie {
  width: 18rem;
  height: 18rem;
  background-image: url(./img/grecia-panties-multi.PNG);
  background-size: 25rem 20rem;
  background-position: -2rem;
}

.g-black-pantie {
  width: 18rem;
  height: 18rem;
  background-image: url(./img/pantie-black.PNG);
  background-size: 25rem 20rem;
  background-position: -2rem;
  margin-bottom: 15rem;
}

/* Corpiño's page */

.a-petrol-bra {
  background-image: url(./img/bra-petrol.PNG);
  background-size: 20rem 18rem;
}

.a-mel-bra {
  background-image: url(./img/bra-mel.PNG);
  background-size: 20rem 18rem;
  margin-bottom: 20rem;
}

.a-red-bra {
  background-image: url(./img/bra-red.PNG);
  background-size: 100%;
}

.g-white-bra {
  background-image: url(./img/white-grecia-bra.PNG);
  background-size: 20rem 18rem;
}

.g-black-bra {
  margin-top: -3.6rem;
  background-image: url(./img/grecia-bra.PNG);
  background-size: 20rem 18rem;
  margin-bottom: 20rem;
}

/* info */

.info__container {
  margin-top: 10rem;
  margin-bottom: 35rem;
  width: 90vw;
  height: auto;
  color: var(--dark-color);
  font-size: var(--info-size);
  justify-content: space-between;
}

.info p a {
  margin-left: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  text-decoration: underline;
  font-size: var(--info-size);
}

.info h2 {
  font-size: 1.25;
}

.info {
  /* margin-top: rem; */
  /* margin: 3rem; */
  margin-bottom: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.size {
  /* margin-top: 12.5rem; */
  /* margin: 8rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.size figcaption {
  font-size: var(--info-size);
}

.size figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.size__img {
  width: 25rem;
  margin: 4.5rem;
  border-radius: 1rem;
}

.last {
  margin-bottom: 20rem;
}

/* faqs's page */

.faqs p,
a {
  font-size: var(--info-size);
}

.faqs a {
  text-decoration: underline solid;
}

.icon-faqs__container {
  display: flex;
  flex-direction: row;
}

.icon-faqs {
  width: 4rem;
  height: 4rem;
  background-color: var(--third-color);
  border-radius: 1rem;
}

/* footer */

footer article {
  font-size: 2rem;
  font-family: "Inknut Antiqua", serif;
  width: 100%;
  height: auto;
  background-color: var(--third-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  align-items: center;
  color: var(--light-color);
}

.icon {
  width: 4rem;
  height: 4rem;
}

.icon:hover {
  background-color: var(--dark-color);
  border-radius: 1rem;
}

figure {
  display: flex;
  flex-direction: row;
}

.whatsapp {
  width: 3.6rem;
  height: 3.6rem;
}

.footer-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.ftr__icon {
  /* width: 100%; */
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.footer-options li,
.footer-options a {
  list-style: none;
  font-size: 1.25rem;
  color: var(--light-color);
}

.footer-options a:hover {
  background-color: var(--dark-color);
  border-radius: 1rem;
}

.autor {
  height: 2rem;
  padding-left: 0.5rem;
  text-align: left;
  background-color: var(--third-color);
  color: var(--light-color);
}

.autor p {
  font-size: 1.2rem;
}

.autor p span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Tela's page */

.footer-options__telas li,
.footer-options__telas a {
  list-style: none;
  font-size: 1.2rem;
  color: var(--light-color);
}

.footer-options__telas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.ftr__title {
  margin-left: 1.5rem;
}

.footer__telas {
  margin-top: 10rem;
}

@media (min-width: 500px) {
  header {
    height: 30vh;
  }

  .shop {
    margin-top: 5rem;
  }

  .img-cont_container {
    min-width: 40rem;
    width: 50vw;
    height: 70vh;
  }

  .initial-img {
    min-width: 40rem;
    width: 50vw;
    height: 70vh;
    margin-bottom: 0;
  }

  .off {
    min-width: 40rem;
    width: 50vw;
    height: 10vh;
    background-color: rgba(219, 183, 185, 0.644);
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .off p {
    color: var(--dark-color);
    font-size: var(--info-size);
  }
}

@media (min-width: 800px) {
  :root {
    --info-size: 1.25rem;
  }

  .nvgt-btn__container {
    width: 25%;
  }

  .shadow-nvgt {
    width: 100%;
  }

  .nvgt-btn__container li,
  a {
    margin-left: 3rem;
    list-style: none;
    text-decoration: none;
    font-size: 1.25rem;
  }

  .off {
    width: 90vw;
    height: 2.5vh;
    background-color: rgba(219, 183, 185, 0.644);
    /* border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30vh;
  }

  .off p {
    font-size: 0;
  }

  .img-cont_container {
    max-width: 55rem;
    width: 45vw;
    height: 70vh;
  }

  .initial-img {
    max-width: 55rem;
    background-image: url(./img/init-page.PNG);
    width: 45vw;
    height: 70vh;
    margin-bottom: 0;
  }

  .off {
    width: 70vw;
    height: 10vh;
    background-color: rgba(219, 183, 185, 0.644);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .off p {
    color: var(--dark-color);
    font-size: var(--info-size);
  }

  .open-menu {
    margin-left: 7rem;
  }

  .shop {
    margin-right: 10rem;
  }

  .category__container {
    margin-top: 15vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .pc-width {
    flex-direction: column;
  }

  .category-card {
    margin: 2rem 0;
    width: 40vw;
    height: 30rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: var(--card-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .a-combo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    /* max-width: 10vw; */
    height: auto;
    justify-content: center;
  }

  .bra {
    background-image: url(./img/corpinoI.PNG);
    background-size: 50%;
    background-position: 0.25rem;
    /* background-size: 50%; */
    background-blend-mode: soft-light;
    background-attachment: fixed;
  }

  .panties {
    background-image: url(./img/bombachaIV.PNG);
    background-size: 50%;
    background-position: 0.25rem;
    /* background-size: 50%; */
    background-blend-mode: soft-light;
    background-attachment: fixed;
  }

  .combo {
    background-image: url(./img/combo.PNG);
    background-size: 50%;
    background-position: 0.25rem;
    /* background-size: 50%; */
    background-blend-mode: soft-light;
    background-attachment: fixed;
  }

  .material {
    background-image: url(./img/black-cotton-material.PNG);
    background-size: 50%;
    background-position: 0.25rem;
    /* background-size: 50%; */
    background-blend-mode: soft-light;
    background-attachment: fixed;
  }

  .info__container {
    margin-top: 15rem;
    width: 40vw;
    height: auto;
    color: var(--dark-color);
    font-size: var(--info-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .atenea,
  .grecia {
    border-radius: 2rem;
    margin: 2rem 2rem;
    width: 20rem;
    height: 18rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: var(--card-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-blend-mode: screen;
  }

  .material-card {
    border-radius: 2rem;
    margin: 2rem;
    width: 30rem;
    height: 20rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: var(--card-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-blend-mode: screen;
  }

  .container-main__telas h1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: var(--info-size);
  }

  .material-container-pc {
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .correct-backimg-posit {
    background-position: 30.25rem;
  }

  .ftr__title {
    margin-left: 4rem;
  }
}
