:root {
  --light-color: rgb(248, 248, 248);
  --dark-color: rgb(17, 17, 17);
  --third-color: rgb(219, 183, 185);
  --card-font-size: 1.75rem;
  --info-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: auto;
  height: auto;
}

/* header */

header {
  width: 100%;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  position: fixed;
  overflow-y: auto;
}

.nvgt {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

header h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 1rem;
  color: var(--dark-color);
  font-size: 2.2rem;
  z-index: 1rem;
}

.open-menu {
  width: 10%;
  height: 5rem;
  border-radius: 1rem;
  border: transparent;
  background: none;
  margin-top: 5rem;
  margin-left: 2.5rem;
}

.open-menu__img {
  width: 2.5rem;
  height: 2.5rem;
}

.shop {
  width: 10%;
  height: 30%;
  border: transparent;
  background: none;
  margin-top: 5.95rem;
  margin-right: 2.5rem;
}

.shop__img {
  width: 2.5rem;
  height: 2.5rem;
}

/* nvgt btn container */

.nvgt-btn__container {
  font-family: "Inknut Antiqua", serif;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 100rem;
  background-color: var(--light-color);
  border-top-right-radius: 5rem;
  opacity: 0;
  transition: opacity 0.35s;
  pointer-events: none;
}

.close-menu {
  display: flex;
  justify-content: end;
  border: transparent;
  background: none;
  width: 87%;
  height: 2.5rem;
  margin: 2rem;
}

.close-menu__img {
  width: 2.5rem;
  height: 2.5rem;
}

.nvgt-btn__container li,
a {
  list-style: none;
  text-decoration: none;
  font-size: 1.25rem;
  margin: 1rem 1rem;
  color: var(--dark-color);
}

/* Open menu fx */

.menu-opened {
  opacity: 1;
  pointer-events: all;
}

/* Nav transparency fx */

.nav_transparency {
  background-color: var(--light-color);
}

/* main */

main {
  /* margin-top: 20rem; */
  width: 100%;
  height: auto;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inknut Antiqua", serif;
}

.home-tag {
  position: absolute;
}

.initial-img {
  background-image: url(./img/corpino.PNG);
  background-size: 100vw 85vh;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: flex-end;
}

/* category cards */

.category__container {
  margin-top: 65vh;
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category__container p {
  margin-left: 2rem;
  margin-right: 2rem;
}

.category-card {
  margin: 2rem 0;
  width: 90vw;
  height: 30rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: var(--card-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bra {
  background-image: url(./img/corpinoI.PNG);
  background-size: 100vw 100vh;
  /* background-position: 3rem; */
  /* background-size: 50%; */
  background-blend-mode: soft-light;
  background-attachment: fixed;
}

.panties {
  background-image: url(./img/bombachaIV.PNG);
  background-size: 100vw 100vh;
  background-position: 0 10rem;
  /* background-size: 50%; */
  background-blend-mode: soft-light;
  background-attachment: fixed;
}

.combo {
  background-image: url(./img/combo.PNG);
  background-size: 100vw 100vh;
  background-position: 0 0rem;
  /* background-size: 50%; */
  background-blend-mode: soft-light;
  background-attachment: fixed;
}

.material {
  background-image: url(./img/black-cotton-material.PNG);
  background-size: 100vw 100vh;
  background-position: 0 0rem;
  /* background-size: 50%; */
  background-blend-mode: soft-light;
  background-attachment: fixed;
}

.category-img {
  width: 60%;
  height: 90%;
}

/* Telas's page */

.container-main__telas h1 {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: var(--info-size);
}

.material-card {
  border-radius: 2rem;
  margin: 2rem 0;
  width: 70vw;
  height: 20rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: var(--card-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-blend-mode: screen;
}

.wine {
  background-image: url(./img/wine-material.PNG);
  background-size: 40rem 20rem;
}

.black-cotton {
  background-image: url(./img/black-cotton-material.PNG);
  background-size: 40rem 20rem;
}

.violet {
  background-image: url(./img/violet-material.PNG);
  background-size: 100%;
}

.red {
  background-image: url(./img/red-material.PNG);
  background-size: 100%;
}

.wheat {
  background-image: url(./img/wheat-material.PNG);
  background-size: 100%;
}
.petrol {
  background-image: url(./img/petrol-material.PNG);
  background-size: 37rem 30rem;
}
.white-cotton {
  background-image: url(./img/white-material.PNG);
  background-size: 40rem 20rem;
}

.black {
  background-image: url(./img/black-material.PNG);
  background-size: 37rem;
}

.rose {
  background-image: url(./img/rose-material.PNG);
  background-size: 37rem;
  margin-bottom: 20rem;
}

/* Conjunto's page */

.atenea,
.grecia {
  border-radius: 2rem;
  margin: 2rem 0;
  width: 40vw;
  height: 18rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: var(--card-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-blend-mode: screen;
}

.a-black {
  background-image: url(./img/conjunto-atenea-negro.PNG);
  background-size: 100%;
}

.a-white {
  background-image: url(./img/conjunto-atenea-blanco.PNG);
  background-size: 100%;
}

.a-wine {
  background-image: url(./img/como-atenea-morado.PNG);
  background-size: 18rem 18rem;
  background-position: -2rem;
}

.a-petrol {
  background-image: url(./img/combo-petrol-atenea.PNG);
  background-size: 18rem 18rem;
  background-position: -2rem;
}

.a-grey {
  background-image: url(./img/combo-atenea-grey.PNG);
  background-size: 100%;
  background-position: 0 -2rem;
}

.a-red {
  background-image: url(./img/combo-red-atenea.PNG);
  background-size: 100%;
  background-position: 0 -2rem;
  margin-bottom: 20rem;
}

.g-dark-red {
  background-image: url(./img/combo-camil-bordo.PNG);
  background-size: 17.3rem 18rem;
  background-position: -2rem;
  margin-bottom: 20rem;
}

.mel {
  background-image: url(./img/combo-mel.PNG);
  background-size: 100%;
}

.melII {
  background-image: url(./img/combo-melII.PNG);
  background-size: 100%;
  margin-bottom: 20rem;
}

.melIII {
  background-image: url(./img/combo-melIII.PNG);
  background-size: 100%;
}

/* Bombacha's page */

.a-multi-pantie {
  background-image: url(./img/tanga-atenea-multi.PNG);
  background-size: 18rem 18rem;
  background-position: -2rem;
}

.a-multi-pantieii {
  background-image: url(./img/pantie-multiII.PNG);
  background-size: 23rem 18rem;
  background-position: -2rem;
}

.a-black-pantie {
  background-image: url(./img/bombachaIV.PNG);
  background-size: 18rem 18rem;
  background-position: -2rem;
  margin-bottom: 15rem;
}

.g-dark-red-pantie {
  width: 18rem;
  height: 18rem;
  background-image: url(./img/grecia-panties-multi.PNG);
  background-size: 25rem 20rem;
  background-position: -2rem;
}

.g-black-pantie {
  width: 18rem;
  height: 18rem;
  background-image: url(./img/pantie-black.PNG);
  background-size: 20rem 20rem;
  background-position: -2rem;
  margin-bottom: 15rem;
}

/* Corpiño's page */

.a-petrol-bra {
  background-image: url(./img/bra-petrol.PNG);
  background-size: 18rem 18rem;
}

.a-mel-bra {
  background-image: url(./img/bra-mel.PNG);
  background-size: 18rem 18rem;
  margin-bottom: 20rem;
}

.a-red-bra {
  background-image: url(./img/bra-red.PNG);
  background-size: 100%;
}

.g-white-bra {
  background-image: url(./img/white-grecia-bra.PNG);
  background-size: 100%;
}

.g-black-bra {
  margin-top: -3.6rem;
  background-image: url(./img/grecia-bra.PNG);
  background-size: 100%;
  margin-bottom: 20rem;
}

/* info */

.info__container {
  margin-top: 35rem;
  width: 90vw;
  height: auto;
  color: var(--dark-color);
  font-size: var(--info-size);
  justify-content: space-between;
}

.info p a {
  text-decoration: underline;
  font-size: var(--info-size);
}

.info h2 {
  font-size: 1.25;
}

.info {
  /* margin-top: rem; */
  /* margin: 3rem; */
  margin-bottom: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.size {
  /* margin-top: 12.5rem; */
  /* margin: 8rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.size figcaption {
  font-size: 1rem;
}

.size figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.size__img {
  width: 25rem;
  margin: 4.5rem;
  border-radius: 1rem;
}

.last {
  margin-bottom: 20rem;
}

/* faqs's page */

.faqs p,
a {
  font-size: 1rem;
}

.faqs a {
  text-decoration: underline solid;
}

.icon-faqs__container {
  display: flex;
  flex-direction: row;
}

.icon-faqs {
  width: 4rem;
  height: 4rem;
  background-color: var(--third-color);
  border-radius: 1rem;
}

/* footer */

footer article {
  font-size: 2rem;
  font-family: "Inknut Antiqua", serif;
  width: 100%;
  height: auto;
  background-color: var(--third-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: var(--light-color);
}

.icon {
  width: 4rem;
  height: 4rem;
}

figure {
  display: flex;
  flex-direction: row;
}

.whatsapp {
  width: 3.6rem;
  height: 3.6rem;
}

.footer-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.footer-options li,
.footer-options a {
  list-style: none;
  font-size: 1.2rem;
  color: var(--light-color);
}

.autor {
  height: 2rem;
  padding-left: 0.5rem;
  text-align: left;
  background-color: var(--third-color);
  color: var(--light-color);
}

.autor p {
  font-size: 1.2rem;
}

.autor p span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Tela's page */

.footer-options__telas li,
.footer-options__telas a {
  list-style: none;
  font-size: 1.2rem;
  color: var(--light-color);
}

.footer-options__telas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.footer__telas {
  margin-top: 10rem;
}
