:root {
  --light-color: rgb(248, 248, 248);
  --dark-color: rgb(17, 17, 17);
  --third-color: rgb(140, 137, 140);
  --card-font-size: 3rem;
  --info-size: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: auto;
  height: auto;
}

/* header */

header {
  width: 100%;
  height: 20vh;
  background-color: var(--light-color);
  display: flex;
  position: fixed;
  overflow-y: auto;
}

.nvgt {
  width: 100%;
  height: 100%;
  background-color: var(--light-color);
  display: flex;
  justify-content: space-between;
}

header h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 5rem;
  color: var(--dark-color);
  font-size: 3rem;
  z-index: 1rem;
}

.open-menu {
  width: 10%;
  height: 5rem;
  border-radius: 1rem;
  border: transparent;
  background: none;
  margin-top: 1rem;
}

.open-menu__img {
  width: 2.5rem;
  height: 2.5rem;
}

.shop {
  width: 10%;
  height: 30%;
  border: transparent;
  background: none;

  margin: 1.77rem 2rem;
}

.shop__img {
  width: 2.5rem;
  height: 2.5rem;
}

/* nvgt btn container */

.nvgt-btn__container {
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: 100rem;
  background-color: var(--light-color);
  border-radius: 5rem;
  opacity: 0;
  transition: opacity 0.35s;
  pointer-events: none;
}

.close-menu {
  display: flex;
  justify-content: end;
  border: transparent;
  background: none;
  width: 87%;
  height: 2.5rem;
  margin: 2rem;
}

.close-menu__img {
  width: 2.5rem;
  height: 2.5rem;
}

.menu-opened {
  opacity: 1;
  pointer-events: all;
}

.nvgt-btn__container li,
a {
  list-style: none;
  text-decoration: none;
  font-size: 1.75rem;
  margin: 1rem 1rem;
  color: var(--dark-color);
}

/* main */

main {
  /* margin-top: 20rem; */
  width: 100%;
  height: auto;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* category cards */

.category__container {
  margin-top: 20rem;
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.category-card {
  margin: 2rem 0;
  width: 90vw;
  height: 30rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: var(--card-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* info */

.info__container {
  width: 90vw;
  height: auto;
  color: var(--dark-color);
  font-size: var(--info-size);
}

.delivery {
  /* margin-top: rem; */
  margin: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.size {
  /* margin-top: 12.5rem; */
  margin: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.size figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.size__img {
  width: 25rem;
  margin: 4.5rem;
}

/* footer */

footer article {
  width: 100%;
  height: 15rem;
  background-color: var(--third-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--info-size);
  color: var(--light-color);
}

.icon {
  width: 4rem;
}
